
/* Styles for desktops */
@media screen and (min-width: 1025px) {
    .brik-Container{
        width:auto;
        min-height: 660px;
        position: relative;
    }
    .backgroundImage{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .backgroundImageTag{
        width: 100%;
        height: 100%;
    }
    .brik-body{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding-right: 120px;
        padding-left: 120px;
    }
    .section-1{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-right:30px;
        gap: 20px;
        padding-top: 40px;
    }
    .title-div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .titleTag{
        text-align: start;
    }
    .subtext-1-div{
    }
    .sub-1-Text-div{
        text-align: justify;
    }
    .subtext-2-div{
    }
    .sub-2-Text-div{
        text-align: justify;
    }
    .section-2{
        width: 50%;
        height: 100%;
        margin-left:30px;
        border-radius: 20px;
    }
    .Brik-image-container{
        width: 100%;
        height: 100%;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .BrikImageDiv{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}



/* tablet */
@media  screen and (min-width: 769px) and (max-width: 1024px) {
    .brik-Container{
        width:auto;
        min-height: 660px;
        position: relative;
    }
    .backgroundImage{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .backgroundImageTag{
        width: 100%;
        height: 100%;
    }
    .brik-body{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding-right: 100px;
        padding-left: 100px;
    }
    .section-1{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-right:20px;
        gap: 20px;
        padding-top: 40px;
    }
    .title-div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .titleTag{
        text-align: start;
    }
    /* .subtext-1-div{
    } */
    .sub-1-Text-div{
        text-align: justify;
    }
    /* .subtext-2-div{
    } */
    .sub-2-Text-div{
        text-align: justify;
    }
    .section-2{
        width: 50%;
        height: 100%;
        margin-left:10px;
        border-radius: 20px;
    }
    .Brik-image-container{
        width: 100%;
        height: 100%;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .BrikImageDiv{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}



@media screen and (max-width: 768px){
    .brik-Container{
        width:auto;
        min-height: 100vh;
        position: relative;
    }
    .backgroundImage{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .backgroundImageTag{
        width: 100%;
        height: 100%;
    }
    .brik-body{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-right: 40px;
        padding-left: 40px;
    }
    .section-1{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 40px;
    }
    .title-div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .titleTag{
        text-align: start;
    }
    .sub-1-Text-div{
        text-align: justify;
    }
    .sub-2-Text-div{
        text-align: justify;
    }
    .section-2{
        width: 100%;
        height: 50%;
    }
    .Brik-image-container{
        width: 100%;
        height: 100%;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    .BrikImageDiv{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}